:root{
    --background:black;
    --textclor:white;
    --size:1.4rem;
    --xs:1.2rem;
    --b1:rgb(50, 193, 50);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
.loginform{
    width: 100%;
    height: 100%;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.slections{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.options{
    color: var(--textclor);
    width: 5%;
    text-align: center;
}
.inputoptions{
    accent-color: var(--background);
}
input[type="radio"]{
      display: inline-block;
      height: 20%;
      width: 2%;
}
.waring{
    width: 17%;
    color: var(--textclor);
    text-align: center;
    height: 7%;
    text-align: center;
}
.waring p{
    font-size: var(--size);
}
.form{
    border-radius: 7px;
    width: 25%;
    height: 45%;
    border: 2px solid rgba(255, 255, 255, 0.58);
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 93%;
    width: 95%;
}
.pass,.user{
    width: 85%;
    height: 22%;
    display: flex;
    align-items: center;
    font-size: var(--size);
    color: var(--textclor);
}
#username{
    border: none;
    border-radius: 7px;
    height: 14%;
    width: 90%;
}
#password{
    border: none;
    outline:none;
    border-radius: 7px;
    height: 14%;
    width: 90%;
}
#username:focus,#password:focus{
    outline:2px solid blue;
}
input[type="text"],input[type="password"]{
    font-size: var(--xs);
}
.forget{
    width: 90%;
    height: 23%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.forget .forget-password{
    width: 40.5%;
    height: 50%;
    color: var(--textclor);
    font-size:var(--xs);
    text-decoration: none;
}
.forget-password:hover{
    color: blue;
}
button{ 
    cursor: pointer;
    border: none;
    border-radius: 7px;
    outline:none;
    width: 80%;
    height: 15%;
    margin-bottom: 1%;
    background-color: var(--b1);
    color: var(--textclor);
}
